.vs/
CarWashPOI/bin/
CarWashPOI/obj/
CarWashPOI/appsettings.Development.json
CarWashPOI/appsettings.json
CarWashPOITests/bin/
CarWashPOITests/obj/
CarWashPOITests/appsettings.Development.json
CarWashPOITests/appsettings.json