@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Лични данни";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col-md-6">
        <p>Вашият профил съдържа лични данни, които сте ни дали. Тази страница Ви позволява да изтеглите или изтриете тези данни.</p>
        <p>
            <strong>Изтриването на тези данни ще премахне за постоянно Вашия акаунт.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-info" type="submit">СВАЛИ</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">ИЗТРИЙ</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}