@model CarWashPOI.ViewModels.Articles.AddArticleViewModel

@{
    ViewData["Title"] = "Публикувай статия";
}

<div class="justify-content-center text-center">
    <h3 class="my-4">@ViewData["Title"]</h3>
    <form asp-controller="Articles" asp-action="Add" enctype="multipart/form-data" method="post" class="w-75 mx-auto">
        <div class="form-group">
            <input asp-for="Title" class="form-control form-control-lg" type="text" placeholder="Заглавие">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <textarea asp-for="Content" rows="21"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
        <div class="custom-file w-50 mt-4">
            <input asp-for="@Model.Image" type="file" id="customFile" class="custom-file-input">
            <label id="customFileLabel" class="custom-file-label" for="customFile">Избери файл</label>
        </div>
        <div>
            <button type="submit" class="btn btn-warning my-4">Публикувай</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="UpdateFileUploadLabelJsPartial" />

    <script src="~/js/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'link image',
            toolbar: 'fontsizeselect bold italic underline forecolor backcolor align link image removeformat',
            toolbar_mode: 'floating',
            branding: false,
        });
    </script>
}