@{
    ViewData["Title"] = "Home Page";
}

<div id="map" class="mb-4"></div>
<div class="row mx-auto justify-content-center text-center">
    <a asp-controller="Locations" asp-action="Add" class="btn btn-outline-success">Добави локация</a>
</div>


@section Scripts {
    <partial name="MapIncludesPartial" />
    <partial name="MapJsPartial" />
}
