@model CarWashPOI.ViewModels.SiteInfo.PrivacyOutputModel
@{
    ViewData["Title"] = "Политика за поверителност";
}
<div class="justify-content-center text-center mx-auto col-md-8">
    <h1>@ViewData["Title"]</h1>

    @Model.Content
</div>
