@model CarWashPOI.ViewModels.SiteInfo.TermsAndConditionsOutputModel
@{
    ViewData["Title"] = "ПРАВИЛА ЗА ПОЛЗВАНЕ";
}

<div class="justify-content-center mx-auto col-md-8">
    <h1 class="text-center">@ViewData["Title"]</h1>

    @Model.Content
</div>
