@using Microsoft.AspNetCore.Identity
@using CarWashPOI.Data.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link siteNav" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">ЗДРАВЕЙ @User.Identity.Name!</a>
        </li>
        if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link siteNav" asp-area="Administration" asp-controller="Home" asp-action="Index">АДМИНИСТРАЦИЯ</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link siteNav" asp-area="Identity" asp-page="/Account/Logout">ИЗЛЕЗ</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link siteNav" asp-area="Identity" asp-page="/Account/Login">ЛОГНИ СЕ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link siteNav" asp-area="Identity" asp-page="/Account/Register">РЕГИСТРАЦИЯ</a>
        </li>
    }
</ul>
